.input_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}
.input_field_input {
  margin-top: 10px;
  border: 2px solid rgb(243 244 246/1);
  padding: 12px 14px;
  border-radius: 0.3rem;
  width: 100%;
}
