.App {
  text-align: center;
  max-width: 800px;
  margin: auto 20px;
  padding: 20px 0;
}

.profile_pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.link_section div {
  background-color: lightgray;
  margin-bottom: 20px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.link_section div:hover {
  transform: scale(1.02);
  border-radius: 10px;
}
a {
  text-decoration: none;
  color: black;
  padding: 0 10%;
}
